@model Data.Models.ShoeDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ShoeDetails</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdSupplier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdSupplier)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCategory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdBrand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdBrand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CostPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CostPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SellPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SellPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableQuantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AvailableQuantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdSale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdSale)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Show">Back to List</a>
</div>
