@using Data.Models;
@using Newtonsoft.Json;
@model IEnumerable<Data.Models.AchivePoint>

@{
    ViewData["Title"] = "Show";
    HttpClient _httpClient = new HttpClient();
    string apiUrl = "https://localhost:7109/api/User/get-all-user";
    var response = await _httpClient.GetAsync(apiUrl);
    string apidata = await response.Content.ReadAsStringAsync();
    var users = JsonConvert.DeserializeObject<List<Users>>(apidata);
    ViewData["lstUser"] = new SelectList(users, "Id", "Username");
}

<h1>Show</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>          
            <th>
                @Html.DisplayNameFor(model => model.Users)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>          
           <td>
                    @foreach (var user in ViewData["lstUser"] as SelectList)
                    {
                        if (user.Value == item.IdUser.ToString())
                        {
                            @user.Text
                            ;
                        }
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointValue)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { Id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { Id = item.Id}) |
                    @Html.ActionLink("Delete", "Delete", new { Id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
