@model IEnumerable<Data.Models.Bills>

@{
    ViewData["Title"] = "Show";
}

<h1>Show</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Users)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                
                @if(item.Status == 1)
                {
                    <p>Đợi xác nhận</p>
                }
                @if(item.Status == 2)
                {
                    <p>Đang giao</p>
                }
                @if (item.Status == 3)
                {
                    <p>Đã được giao</p>
                }
                @if (item.Status == 0)
                {
                    <p>Đã hủy</p>
                }
            </td>
         
            <td>
                    @foreach (var user in ViewData["lstUser"] as SelectList)
                    {
                        if (user.Value == item.IdUser.ToString())
                        {
                            @user.Text
                        }
                    }
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                 
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
           
        </tr>
}
    </tbody>
</table>
